.contactUs {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cntFrm {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cntFrm form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cntFrm h3 {
  font-size: 3.6rem;
  text-align: center;
}

.cntFrm h5 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}
.cntImg {
  background: url("../assets/dbms.jpg") center center / cover;
  width: 50%;
  height: 100%;
}
form h6 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 1em;
}
form input {
  border: none;
  border-bottom: 2px solid #4959d8;
  padding: 6px 12px;
  outline: none;
}
form button {
  margin: 1.5em 0;
  background: #4959d8;
  font-size: 1.8rem;
  color: white;
  padding: 8px 12px;
  border-radius: 24px;
  font-weight: 500;
  border: none;
}
form a {
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .contactUs {
    height: 80vh;
  }

  .cntImg {
    display: none;
  }
  .cntFrm {
    width: 90%;
  }
  .cntFrm h3 {
    font-size: 2.6rem;
    text-align: center;
  }

  .cntFrm h5 {
    text-align: center;
    font-size: 1.4rem;
  }
  form h6 {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
}
@media only screen and (max-width: 1200px) and (min-width: 800px) {
}
